{# student/home #}

{% extends 'base.html.twig' %}

{% block side_navigation %}
    <div class="list-group">
        <a href="" class="list-group-item">All students</a>
        {% if app.user and is_granted('ROLE_STUDENT') %}
            <a href="" class="list-group-item">My profile</a>
            <a href="" class="list-group-item">My practice schedule</a>
        {% endif %}
        {% if app.user and is_granted('ROLE_ADMIN') %}
            <a href="{{ path('student_new') }}" class="list-group-item">Add new student</a>
            <a href="" class="list-group-item">---</a>
        {% endif %}
    </div>
{% endblock %}

{% block about %}

{% endblock %}

{% block main %}
    This is the Students Homepage
{% endblock %}