{# sport/home #}

{% extends 'base.html.twig' %}

{% block side_navigation %}
    <div class="list-group">
        <a href=" {{ path('sport_view') }} " class="list-group-item">All Sports</a>
        <a href="" class="list-group-item">Sports statics</a>
        <a href="#" class="list-group-item">Coaches</a>
        {% if app.user and is_granted('ROLE_ADMIN') %}
        <a href="{{ path('sport_new') }}" class="list-group-item">Add new sport</a>
        {% endif %}
    </div>
{% endblock %}

{% block about %}
{% endblock %}

{% block main %}
    <img src="{{ asset('sports.jpg') }}" alt="Symfony!" />
{% endblock %}