{% extends 'base.html.twig' %}

{% block side_navigation %}
    <div class="list-group">
        <a href="{{ path('event_view') }}" class="list-group-item">Browse events</a>
        <a href="" class="list-group-item">Practice schedule</a>
        {% if app.user and is_granted('ROLE_STUDENT') %}
            <a href="{{ path('event_view') }}" class="list-group-item">My events</a>
            <a href="" class="list-group-item">My practice schedule</a>
        {% endif %}
        {% if app.user and is_granted('ROLE_ADMIN') %}
            <a href="{{ path('event_new') }}" class="list-group-item">Add new event</a>
            <a href="" class="list-group-item">All practice schedules</a>
            <a href="" class="list-group-item">New practice schedule</a>
        {% endif %}
    </div>
{% endblock %}

{% block about %}
{% endblock %}

{% block main %}
    <img src="{{ asset('events.jpg') }}" alt="Symfony!" />
{% endblock %}